meta(charset='UTF-8')
meta(name='viewport' content='width=device-width,initial-scale=1')
title Registration Form
link(rel='stylesheet' href='/css/babyReg.css')
.container
  .form-box
    form#Fillform(action='/babyReg' method='POST')
      h2 Register Baby
      p#result
      .input-box
        input#fullName(type='text' name='fName' placeholder='enter baby\'s name')
      .input-box
        input#dob(type='date' name='dateOfBirth' placeholder='enter Date of Birth')
      #gender.gender-box
        input#male(type='radio' name='gender')
        label(for='male') Male
        input#female(type='radio' name='gender')
        label(for='female') Female
      .input-box
        input#location(type='text' name='location' placeholder='enter location')
      .input-box
        input#parentName(type='text' name='parentName' placeholder='enter parent\'s name')
      .input-box
        input#parentContact(type='text' name='parentContact' placeholder='enter parent\'s contact')
      .input-box
        input#babyNumber(type='text' name='babyNumber' placeholder='enter baby number')
      .button
        button.btn#Register(type='submit')
//script(src='/js/babyReg.js')