<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registration Form</title>
    <link rel="stylesheet" href="babyReg.css" />
  </head>
  <body>
    <div class="container">
      <div class="form-box">
        <form id="Fillform" action="#">
          <h2>Register Baby</h2>
          <p id="result"></p>

          <div class="input-box">
            <input
              type="text"
              id="fullName"
              name="fullName"
              placeholder="enter baby's name"
            />
          </div>

          <div class="input-box">
            <input
              type="date"
              id="dob"
              name="dob"
              placeholder="enter Date of Birth"
            />
          </div>

          <div id="gender" class="gender-box">
            <input type="radio" id="male" name="gender" />
            <label for="male">Male</label>
            <input type="radio" id="female" name="gender" />
            <label for="female">Female</label>
          </div>

          <div class="input-box">
            <input
              type="text"
              id="location"
              name="location"
              placeholder="enter location"
            />
          </div>

          <div class="input-box">
            <input type="text" id="motherName" name="motherName" placeholder="enter mother's name" />
          </div>

          <div class="input-box">
            <input type="text" id="motherContact" name="motherContact" placeholder="enter mother's contact" />
          </div>

          <div class="input-box">
            <input
              type="text"
              id="fatherName"
              name="fatherName"
              placeholder="enter father's name"
            />
          </div>

          <div class="input-box">
            <input type="text" id="fatherContact" name="fatherContact" placeholder="enter father's contact" />
          </div>

          <div class="input-box">
            <input
              type="text"
              id="babyNumber"
              name="babyNumber"
              placeholder="enter baby number"
            />
          </div>

          <div class="button">
            <input
              type="submit"
              class="btn"
              onclick="register()"
              id="Register"
            />
          </div>
        </form>
      </div>
    </div>
    <script src="babyReg.js"></script>
  </body>
</html>
